.backg h1{
    color: white;
    color: white;
    font-size: 23px;

}
.backg{
    color: yellow;
    margin-left: 24px;
    margin-top: 25px;
}
.a1{
    font-size: 22px;
    color: #ee5daa;
    font-weight: 600;
    background: #63625af7;
    border-radius: 7px;
    text-decoration: none;
    padding: 4px;
    margin-left: 25px;
}
.backg p{
    margin-left: 25px;
    width: 1500px;
    width: 1200px;
    color: #a68893;
}