
  body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    background-image: url(yoga1.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 621px;
  }
  
